manifest {
    mainScript = 'up.nf'
}

params {
    file = ''
    folder = ''
    save_path = ''
    workdir = "/tmp/nextflow-Kraken2-$USER"
}


profiles {
  
 //executer
    ukj_cloud { 
        workDir = params.workdir
        params.cloudProcess = true
        docker { enabled = true } 
        process.executor = 'google-lifesciences'
        params.databases = ''
        bucketDir = 'gs://case-tmp-dir/'
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b'
            lifeSciences.preemptible = true
            lifeSciences.bootDiskSize = 20.GB
            }
        
        // cloud error strategy
        process.errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' }
        process.maxRetries = 3
    
        }
}